@charset "UTF-8";


body {

    background-color: rgb(30, 92, 206);
    font: normal 15pt Arial;
}

header {

    text-align: center;
    color: white;

}

main {
 
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
}

select#txtlista {

    width: 150px;
}

footer {

    text-align: center;
    color: white;
}